body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--button-color);
  --color-price: rgb(0, 122, 255);
  --color-reset: rgb(255, 59, 48);
  --color-local: rgb(52, 199, 89);
  --color-deliver: rgb(0, 122, 255);
  --color-control: rgb(255, 255, 255);
  --box-color: rgb(255, 255, 255);
  --button-color: rgb(248, 249, 250);
  --border-color: rgb(217, 218, 219);
}

.container {
  display: flex;
  flex-direction: row;
  padding: 2vw;
  gap: 2vw;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--box-color);
  width: 65vw;
  height: calc(100vh - 4vw);
  border-radius: 1rem;
}

h1 {
  padding: 2rem 0 0 2rem;
  margin: 0;
}

.tablet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
}

.btn {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  justify-content: space-between;
}

.btn:hover {
  border: 2px solid var(--color-price);
  filter: brightness(0.9);
  cursor: pointer;
}

.product {
  font-size: 1rem;
}

.price {
  color: var(--color-price);
  font-size: 1.2rem;
  font-weight: 700;
}

hr {
  width: calc(65vw - 4rem);
  color: var(--button-color);
}

.overview {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
}

.sum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  text-align: center;
}

h3 {
  margin-top: auto;
  margin-bottom: 0;
}

#total {
  color: var(--color-price);
  font-size: 2rem;
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "reset reset"
    "local deliver";
  gap: 01em;
}

.control-btn {
  color: var(--color-control);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

#reset {
  background-color: var(--color-reset);
  grid-area: reset;
}

#reset:hover,
#local:hover,
#deliver:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

#local {
  background-color: var(--color-local);
  grid-area: local;
}

#deliver {
  background-color: var(--color-deliver);
  grid-area: deliver;
}

.order {
  background-color: var(--box-color);
  width: 29vw;
  height: calc(100vh - 4vw);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#order-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}
